<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>3D IMU Visualization</title>
  <style>
    body { margin: 0; overflow: hidden; background: black; }
    #info {
      position: absolute;
      top: 10px;
      left: 10px;
      color: #0f0;
      font-family: monospace;
    }
  </style>
  <!-- THREE.js -->
    <!-- <script src="/three/three.module.js"></script> -->

  
  <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>

<div id="info">Waiting for IMU data...</div>

<!-- IMPORTANT -->
   <script src="/socket.io/socket.io.js"></script>
<script type="module" src="./static/js/script.js"></script>

</body>
</html>
